:root {
  /* Primary */

  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: var(--White);
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

section:last-of-type {
  padding: 1rem;
}

section:last-of-type h1 {
  font-weight: 900;
}

section:last-of-type a {
  background-color: var(--Darkcyan);
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

section:last-of-type a > img {
  width: 15px;
  height: 15x;
  margin-inline-end: 10px;
}

@media (width > 500px) {
  main {
    max-width: 600px;
    border-radius: 15px;
    display: flex;
    align-items: stretch;
  }

  section {
    width: 50%;
  }

  section:first-of-type img {
    height: 100%;
  }
}
